.btnGoBack {
    display: block;
    padding: 10px;
    background-color: rgb(240, 88, 88);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.btnGoBack:hover {   
    background-color: rgb(211, 40, 40); 
}

.section {
    display: flex;
    padding: 30px 0;
    font-size: 18px;
}

.infoContainer {
    margin-left: 20px;
    padding: 10px;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
}

.userScore {
    font-weight: 700;
    margin-bottom: 10px;
}

.overviewTitle {
    font-weight: 700;
}

.overview {
    margin: 10px 0;
}

.genresTitle {
    font-weight: 700;
    margin-bottom: 10px;
}

.genreList {
    margin-bottom: 10px;
}