.form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.input {
    font-size: 24px;
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px;
}

.button {
    font-size: 24px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(240, 88, 88);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(219, 44, 44);
}